@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heading {
		@apply text-2xl font-semibold text-neutral-800;
	}

	.subheading {
		@apply text-neutral-500;
	}
}

/* Centers text of all elements except first and last child */
.text-center-middle :nth-child(n + 2):not(:last-child) {
	text-align: center;
}

::selection {
	background: black;
	color: white;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track-piece {
	border-radius: 3px;
	background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
	background-color: #d1d1d1;
	border-radius: 3px;
}
